@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  height: 31px;
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  padding-right: 20px;
}

.ant-layout-header {
  display: flex;
  background: #1b1b1b;
}

.ant-menu-dark.ant-menu-horizontal {
  background: #1b1b1b;
  border-bottom-color: #1b1b1b;
}

.main-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
